.SignUp {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
    border-radius: 60px;
}


.Signup-header {
    background-color: #A9CBFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: Courier New;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.signUpForm input[type="text"],
.signUpForm input[type="password"] {
    width: 25em;
    height: 1.5em;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 2em;
}

.signUpForm input[type="submit"] {
    width: 8em;
    padding: 10px;
    background-color: #1f3d7a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.signUpForm input[type="submit"]:hover {
    background-color: #3e64a7;
}